.admin-chat-container {
width: 85vw;
margin: 0 auto;
background-color: #fff;
padding: 20px;
border-radius: 15px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
font-family: 'Droid Sans', sans-serif;
}

.admin-chat-header {
display: flex;
align-items: center;
gap: 15px;
margin-bottom: 20px;
}

.admin-chat-box {
background-color: #fffcfc;
padding: 20px;
height: 65vh;
overflow-y: auto;
display: flex;
flex-direction: column;
gap: 15px;
border-radius: 12px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.admin-chat-message {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* padding: 6px 10px; */
  border-radius: 10px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); */
  font-size: 14px; 
  line-height: 1.2;
  word-break: break-word;
  white-space: pre-wrap;
  margin-bottom: 6px; 
}


.message-bubble{
  display: inline-block;
  /* padding: 6px 10px; */
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-size: 14px; 
  line-height: 1.2;
  word-break: break-word;
  white-space: pre-wrap;
  margin-bottom: 6px; 
}

.admin-chat-message.student {
  align-self: flex-start;

}

.admin-chat-message.admin {
  align-self: flex-end;

}


.message-text{
  text-align: left;
  padding-left: 1vw;
}



.message-bubble.student {
  background-color: #f0c9c9;
  color: #BF2A45;
  width: 40vw;
  justify-content: start;
  /* min-height: 10vh; */
}

.message-bubble.admin {
  background-color: #e7ffe7;
  color: #2A8F45;
  width: 40vw;
  /* min-height: 10vh;  */
}



.message-time {
font-size: 11px;
opacity: 0.6;
margin-left: 1vw;
padding-bottom: 1vh;
/* margin-top: 5px; */
text-align: right;
/* margin-top: -10vh; */
}

.admin-input-container {
display: flex;
flex-direction: row;
/* align-items: center; */
gap: 15px;
margin-top: 20px;
}

.admin-input-container input[type="text"] {
min-width: 70vw;
padding: 14px;
font-size: 16px;
/* margin-left: 60vw; */
background-color: #ffe5e5;
border: none;
border-radius: 25px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
outline: none;
text-align: center;
}

.admin-input-container button[type="submit"] {
padding: 12px 24px;
font-size: 16px;
background-color: #BF2A45;
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
}

.admin-input-container button[type="submit"]:hover {
background-color: #A11D2E;
}

.admin-chat-actions {
margin-top: 15px;
display: flex;
justify-content: center;
}


.back-button{
  margin-top: 2vh;
}

.admin-chat-actions .end-chat, .back-button {
padding: 12px 24px;
background-color: #BF2A45;
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
}

.admin-chat-actions .end-chat:hover {
background-color: #A11D2E;
}

.admin-error {
color: #BF2A45;
text-align: center;
margin-top: 10px;
}


