.admin-panel {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 50%, #fce4e4 50%);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dashboard-buttons {
  display: flex;
  gap: 10px;
}

.dashboard-button {
  width: 450px;
  height: 500px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dashboard-button:hover {
  transform: scale(1.1);
}

.dashboard-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Новая кнопка Чаты */
.chat-button {
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff;
  color: #C32939;
  border: 2px solid #C32939;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.chat-button:hover {
  background-color: #fce4e4;
  transform: scale(1.05);
}
