.admin-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background: linear-gradient(360deg, #C32939, 20%, #EFEFEF);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Droid Sans', sans-serif;
    color: #333;
}

.admin-panel h1 {
    font-size: 2.5em;
    color: #222222;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.section {
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.section h2 {
    font-size: 1.8em;
    color: #BF1F1F;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.input[type="file"], 
.input {
    margin-bottom: 20px;
    padding: 12px 15px;
    border: 2px solid #BF1F1F;
    border-radius: 15px;
    font-size: 16px;
    color: #333;
    width: 100%;
    max-width: 100%;
    background: #fce4e4;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input[type="file"]:hover, 
.input:hover {
    border-color: #A11D2E ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffe6e6;
}

button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 18px;
    color: #fff;
    background: #BF1F1F;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    text-align: center;
    width: 100%;
    margin: 10px;
    max-width: 250px;
}

button:hover {
    background: #8C1E2E;
    transform: scale(1.05);
}

button:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
    color: #eee;
}

.message {
    margin-top: 25px;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
}

.message.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

@media (max-width: 768px) {
    .admin-panel {
        padding: 30px;
    }

    .admin-panel h1 {
        font-size: 1.8em;
    }

    .section {
        padding: 20px;
    }

    .input[type="file"],
    .input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }

    .message {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .admin-panel {
        padding: 20px;
    }

    .admin-panel h1 {
        font-size: 1.6em;
    }

    .section h2 {
        font-size: 1.3em;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .input[type="file"],
    .input {
        font-size: 13px;
    }

    .message {
        font-size: 13px;
    }
}
