.application-page {
  font-family: 'Figtree', sans-serif;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: flex-start;
  padding: 50px 100px;
  background: linear-gradient(360deg, #BF1F1F, 10%, #EFEFEF);
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  max-width: 600px;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

select, input {
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 12px;
  width: 95%;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus, input:focus {
  border-color: #BF1F1F;
  box-shadow: 0 0 8px rgba(191, 31, 31, 0.3);
  outline: none;
}

.submit-btn, .test-btn {
  background: #C32939;
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-btn:hover, .test-btn:hover {
  background: #8C1E2E;
  transform: scale(1.05);
}

.test-btn {
  margin-top: 10px;
}

.visual-section {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_11 {
  max-width: 100%;
  height: auto;
  position: relative;
  top: 55px;
  left: 0;
  margin: auto;
  z-index: 10;
  opacity: 1;
}


@media (max-width: 1024px) {
  .application-page {
    flex-wrap: wrap;
    padding: 30px 20px;
  }

  .form-section {
    width: 100%; 
    margin: 10px auto;
  }


  .visual-section {
    display: none;
  }

  /* .visual-section {
    flex: none;
    width: 100%;
    margin: 10px auto;
  }

  .img_11 {
    max-width: 80%;
  } */
}

@media (max-width: 768px) {
  .application-page {
    padding: 20px;
  }

  .form-section {
    padding: 20px;
    width: 100%;
  }

  /* .visual-section {
    margin: 20px auto;
  }

  .img_11 {
    max-width: 70%;
  } */
}

@media (max-width: 480px) {
  .application-page {
    padding: 10px;
  }

  .form-section {
    padding: 15px;
    margin: 10px 0;
  }

  /* .visual-section {
    margin: 10px auto;
  }

  .img_11 {
    max-width: 100%;
  } */

  select, input {
    font-size: 14px;
    padding: 12px;
  }

  .submit-btn, .test-btn {
    padding: 12px;
  }
}