.chat-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #3083DC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    transition: transform 0.3s ease;
}


.chat-icon {
    color: #ffffff;
    font-size: 24px;
}

@media (max-width: 768px) {
    .chat-container {
        bottom: 70px;
        right: 10px;
        left: 10px;
        max-width: calc(100% - 20px);
        padding: 15px;
        border-radius: 12px 12px 0 0;
        max-height: 60vh;
        overflow-y: auto;
    }

    .chat-icon-container {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 15px;
    }
}

@media (max-width: 480px) {
    .chat-container {
        bottom: 60px;
        padding: 10px;
        left: 5px;
        right: 5px;
        max-width: calc(100% - 10px);
        max-height: 50vh;
        border-radius: 0;
    }

    .chat-icon-container {
        width: 35px;
        height: 35px;
        bottom: 10px;
        right: 10px;
    }
}