.home {
  font-family: 'Arial', sans-serif;
  margin-top: 100px;
}

.block {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 100px 0;
  padding: 0 50px;
}

.text-block {
  background-color: #D32F2F;
  color: white;
  padding: 70px;
  width: 60%; 
  border: none; 
  position: relative; 
}

.text-block.large {
  width: 60%; 
  height: 300px; 
  padding-right: 100px;
}

.text-block h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text-block p {
  font-size: 18px;
}

.image-in-text {
  position: absolute;
  right: 50px; 
  top: 10px; 
  width: 250px;
}

.image-in-text img {
  width: 250px;
  height: auto;
}
