.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Droid Sans', sans-serif;
}


.login-left {
  background-color: #C32939;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-left h1 {
  font-size: 36px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.login-left p {
  font-size: 26px;
  text-align: center;
  color: white;
}

.login-btn {
  background: #C32939;
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 40%;
  margin: 20px auto 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.login-btn:hover {
  background: #8C1E2E;
  transform: scale(1.05);
}

.login-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

form {
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none; 
  background-color: transparent;
}

.login-header {
  font-size: 28px;
  color: #BF1F1F;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left, .login-right {
    width: 100%;
    padding: 0;
  }

  .login-right form {
    border-radius: 10px;
    margin: 20px;
    padding: 0;
  }

  .login-btn {
    display: none;
  }

  .login-right form::after {
    content: 'Sign in';
    display: block;
    text-align: center;
    background-color: #BF1F1F;
    color: white;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
  }
}